/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #00bcd4;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #0d717e ;
}

.sidebar .nav-links li a:hover {
  background: #0d717e ;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #00bcd4;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}



img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

/* </style>
    <style id="criticalcss">/* critical_front-page.min.css */
@-ms-viewport {
  width: device-width
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

aside,
footer,
header,
main,
nav,
section {
  display: block
}

a {
  background-color: transparent
}

strong {
  font-weight: 700
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

html {
  font-size: 10px
}

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #212121;
  background-color: #fff
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #00bcd4;
  text-decoration: none
}

img {
  vertical-align: middle
}

.avatar {
  border-radius: 50%
}

.screen-reader-text,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

h1,
h2 {
  font-family: Bitter, Charter, Cambria, Bitstream Charter, Caladea, Georgia, Times, serif;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  margin-top: 32px;
  margin-bottom: 16px
}

h1 {
  font-size: 40px
}

h2 {
  font-size: 28px
}

p {
  margin: 0 0 16px
}

.text-center {
  text-align: center
}

ul {
  margin-top: 0;
  margin-bottom: 16px
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}

blockquote {
  padding: 16px 32px;
  margin: 0 0 32px;
  font-size: 20px;
  border-left: 5px solid #eceeef
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.6;
  color: #818a91
}

blockquote footer:before {
  content: "\2014 \00A0"
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.container-fluid:after,
.container-fluid:before {
  display: table;
  content: " "
}

.container-fluid:after {
  clear: both
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.row:after,
.row:before {
  display: table;
  content: " "
}

.row:after {
  clear: both
}

.col-sm-7,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-12 {
  float: left;
  width: 100%
}

@media (min-width:544px) {
  .col-sm-7 {
    float: left;
    width: 58.3333333333%
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 1.6;
  border-radius: 0
}

.btn-primary {
  color: #fff;
  background-color: #00bcd4;
  border-color: transparent
}

.btn-lg {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 0
}

.collapse {
  display: none
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav:after,
.nav:before {
  display: table;
  content: " "
}

.nav:after {
  clear: both
}

.nav>li,
.nav>li>a {
  position: relative;
  display: block
}

.nav>li>a {
  padding: 10px
}

.navbar {
  position: relative;
  min-height: 40px;
  margin-bottom: 0;
  border: 1px solid transparent
}

.navbar:after,
.navbar:before {
  display: table;
  content: " "
}

.navbar:after {
  clear: both
}

.navbar-header:after,
.navbar-header:before {
  display: table;
  content: " "
}

.navbar-header:after {
  clear: both
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1);
  -webkit-overflow-scrolling: touch
}

.navbar-collapse:after,
.navbar-collapse:before {
  display: table;
  content: " "
}

.navbar-collapse:after {
  clear: both
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header {
  margin-right: -15px;
  margin-left: -15px
}

.navbar-brand {
  float: left;
  height: 40px;
  padding: 4px 15px;
  font-size: 24px;
  line-height: 32px
}

@media (min-width:890px) {
  .navbar {
    border-radius: 0
  }

  .navbar-header {
    float: left
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important
  }

  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0
  }

  .navbar>.container-fluid .navbar-brand {
    margin-left: -15px
  }

  .navbar-toggle {
    display: none
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0
}

.navbar-nav {
  margin: 2px -15px
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px
}

@media (min-width:890px) {
  .navbar-nav {
    float: left;
    margin: 0
  }

  .navbar-nav>li {
    float: left
  }

  .navbar-nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px
  }
}

blockquote.testimonial {
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px
}

blockquote.testimonial+blockquote.testimonial {
  margin-top: -5px
}

blockquote.testimonial {
  border-left-color: #00bcd4;
  background-color: #f9f9f9;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 32px 48px
}

blockquote.testimonial .avatar {
  float: right;
  margin: 0 0 2px 32px;
  border: 5px solid #eceeef
}

.site-branding {
  margin: 0 auto 0 0
}

.site-branding .site-title,
.site-description {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute
}

img {
  display: block;
  max-width: 100%;
  height: auto
}

h1,
h2 {
  margin-top: 0
}

@media (max-width:543px) {
  h1 {
    font-size: 28px
  }

  h2 {
    font-size: 24px
  }
}

blockquote {
  color: #55595c;
  font-style: italic
}

blockquote .avatar {
  float: left;
  margin: 0 48px 4px 0
}

.main-navigation>.container-fluid {
  max-width: 1000px
}

.widget-area {
  margin-bottom: 48px
}

.full-width-content .widget-area>.wrap {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 750px
}

.full-width-content .widget-area>.wrap:after,
.full-width-content .widget-area>.wrap:before {
  display: table;
  content: " "
}

.full-width-content .widget-area>.wrap:after {
  clear: both
}

.widget {
  margin: 0 0 48px
}

.navbar-nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #212121
}

.main-navigation.navbar {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px
}

.main-navigation .navbar-header {
  padding-bottom: 4px;
  border-bottom: 1px solid #818a91
}

.main-navigation .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0
}

.main-navigation .navbar-nav li a {
  letter-spacing: 2px;
  font-size: 14px;
  text-align: center
}

.main-navigation .navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 30px;
  line-height: 30px
}

.main-navigation .navbar-brand {
  height: 50px
}

@media (min-width:890px) {
  .main-navigation.navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 48px
  }

  .main-navigation .navbar-header {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0
  }

  .main-navigation .navbar-brand,
  .main-navigation .navbar-nav li a {
    line-height: 40px
  }

  .main-navigation .navbar-nav li a {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
  }

  .main-navigation .navbar-brand {
    height: 56px
  }
}

body.home .main-navigation.navbar {
  margin-bottom: 0
}

.site-footer {
  text-align: center;
  font-size: 80%;
  padding-top: 4em;
  padding-bottom: 1em
}

.site-footer>.wrap {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.site-footer>.wrap:after,
.site-footer>.wrap:before {
  display: table;
  content: " "
}

.site-footer>.wrap:after {
  clear: both
}

.container-single {
  max-width: 750px
}

.full-width-content .container-single {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.full-width-content .container-single:after,
.full-width-content .container-single:before {
  display: table;
  content: " "
}

.full-width-content .container-single:after {
  clear: both
}

.m-b-md {
  margin-bottom: 32px
}

.m-b-lg {
  margin-bottom: 48px
}

.typed-main>.wrap {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.typed-main>.wrap:after,
.typed-main>.wrap:before {
  display: table;
  content: " "
}

.typed-main>.wrap:after {
  clear: both
}

.logos-main {
  background-color: #f9f9f9
}

.logos-main>.wrap {
  margin-bottom: 48px;
  padding: 1em 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  text-align: center
}

.logos-main>.wrap:after,
.logos-main>.wrap:before {
  display: table;
  content: " "
}

.logos-main>.wrap:after {
  clear: both
}

.blurb {
  min-height: 204px;
  font-family: Bitter;
  font-size: 24px;
  line-height: 1.4;
  background-color: #fff;
  background-color: hsla(0, 0%, 100%, .95);
  padding: .75em 1em
}

@media (min-width:768px) {
  .blurb {
    min-height: 202px
  }
}

@media (min-width:992px) {
  .blurb {
    min-height: 162px
  }
}

.blurb a {
  text-decoration: underline !important
}

.typed-main {
  background-color: #00bcd4
}

@media (min-width:544px) {
  .typed-main>.wrap {
    height: 400px
  }

  .blurb {
    font-size: 28px
  }

  .typed-main {
    background-repeat: no-repeat;
    background-position: 45%
  }

  html.no-avif .typed-main {
    background-image: url(wp-content/themes/innovative-2021/images/elna-bg-2021.jpg)
  }
}

.btn-accent {
  color: #fff;
  background-color: #00bcd4;
  border-color: rgba(0, 0, 0, .2)
}

.btn-lets-talk {
  font-size: 90%;
  border-radius: 4px;
  padding: 15px 24px;
  border: 2px solid #fff
}

@media (min-width:544px) {
  .btn-lets-talk {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2)
  }
}

.blurb,
.lets-talk {
  margin-top: 10%
}

.lets-talk {
  text-align: center;
  margin-bottom: 10%
}

body.home blockquote.testimonial {
  font-size: 90%
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none
}

.logos-main .vcenter {
  opacity: .5;
  margin-right: 1em
}

.testimonial .pic img {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%
}

.testimonial {
  margin-bottom: 48px;
  background-color: transparent !important
}

.testimonial .avatar {
  float: right
}

blockquote.testimonial {
  padding: 20px
}

#menu-footer .menu-item {
  padding: 0
}

#menu-footer .menu-item:before {
  content: "/\00a0";
  color: #818a91;
  padding-left: 4px;
  padding-right: 4px
}

[class^=icon-]:before {
  font-family: ink;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-menu:before {
  content: "\e801"
}

.icon-facebook:before {
  content: "\e802"
}

.icon-linkedin:before {
  content: "\e804"
}

.icon-pinterest:before {
  content: "\e806"
}

.icon-twitter:before {
  content: "\e807"
}

body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
  --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
  --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
  --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
  --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
  --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
  --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
  --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
  --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
  --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
  --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
}

.has-black-color {
  color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
  color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-left: 25%;
}

.card-header {
  background: #f5f5fa;
  border-radius: 0.25rem;
  font-size: 17px;
  font-weight: 600;
  color: var(--text-black-900);
  justify-items: center;
  line-height: 45px;
  border-bottom: 0.5px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-8 {
  padding-left: 35px;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
  color: var(--text-black-900);
  font-weight: 400;
}

.label,
.form-control {
  display: flex;
}

#title,
#blogimage,
#blogdescription {
  height: 35px;
  width: 75%;

}

#blogimage {
  outline: 1px solid grey;
  padding-top: 10px;
  padding-left: 10px;
}

#detail {
  height: 40%;
  width: 75%;
  line-height: 30px;
  margin-bottom: 15px;
}

.text-danger {
  color: red;
}

.btn {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: 'Poppins' sans-serif;
  background: var(--skin-color);
}

table {
  margin: 8em 60px;
  width: 90%;
  height: 100vh;
}

.card button {
  background-color: #0d717e;
  color: white;
  margin-left: 30%;
  ;
}

.card button a:hover {
  background-color: #00bcd4;

}

.btn-primary-1 {
  cursor: pointer;
}

input[type=submit] {
  font-family: 'Helvetica', serif;
  width: 10%;
  background-color: #2697FF;
  border: black;
  color: white;
  padding: 10px 12px;
  /* margin: 4px 2px; */
  border-radius: 10px;
  margin-left: 30%;
}

input[type=submit] :hover {
  background-color: #00bcd4;
}